@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sans", sans-serif;
  }
  main {
    flex: 1;
  }
  * {
    box-sizing: border-box;
    line-height: 1;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  h3,
  h4 {
    font-size: 1.7rem;
  }
  a,
  p,
  input {
    font-size: 1.1rem;
  }
  img {
    max-width: 100%;
    object-fit: cover;
  }
}

/* custom styles for the BookingCalendar component*/
.react-datepicker__current-month,
.react-datepicker__header,
.react-datepicker__day-names,
.react-datepicker__day-name {
  background-color: #1378d1;
  color: #ffffff;
}

.react-datepicker {
  border: 1px solid #1378d1 !important;
  border-radius: 6px;
}
